<html>

<head>
	<script type="text/javascript" src=
"https://code.jquery.com/jquery-1.12.0.min.js">
	</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
								initial-scale=1">
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
	</script>
	<title></title>
</head>

<body>

	<canvas id="bar-chart" width="800" height="450">
	</canvas>
	<script>
	
	function getRandomColor() {
		 let maxVal = 0xFFFFFF; // 16777215
		    let randomNumber = Math.random() * maxVal; 
		    randomNumber = Math.floor(randomNumber);
		    randomNumber = randomNumber.toString(16);
		    let randColor = randomNumber.padStart(6, 0);   
		    return `#${randColor.toUpperCase()}`
	}

	var data_arr = [90, 40, 80, 50, 70];
	var bg_colors = data_arr.map( item => getRandomColor() );
		
	const xmlhttp = new XMLHttpRequest();
	const url = 'http://localhost:8082/collectChartData';
	
	xmlhttp.open('GET', url, true);
	xmlhttp.send();
	
	xmlhttp.onreadystatechange = function() {
		if(this.readyState == 4 && this.status == 200) {
			const datapoints = JSON.parse(this.responseText);
			//console.log(datapoints);
			
			const labelCountry = datapoints.map(
					function(index) {
						return index.country;
					});
			
			const latestTotalDeaths = datapoints.map(
					function(index) {
						return index.latestTotalDeaths;
					});
						
			var ctx = document.getElementById('bar-chart').getContext('2d');
		    var chart = new Chart(ctx, {
		        type: 'bar',
		        data: {
		            labels: labelCountry,
		            datasets: [{
		                label: 'DeathCount',
		                data: latestTotalDeaths,
		                backgroundColor: bg_colors,
		                borderColor: 'black',
		                borderWidth: 1
		            }]
		        },
		        options: {
		            scales: {
		                y: {
		                    beginAtZero: true
		                }
		            }
		        }
		    });
			
		}
				
		
	}

	</script>
</body>

</html>
